body {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #d1ff9c;
}

.calculator {
  display: inline-block;
  background-color: #44B097;
  width: 330px;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.display {
  background-color: #AFF5BF;
  text-align: right;
  font-family: 'Scientific Calculator LCD', sans-serif;
  padding: 30px 15px;
  border-radius: 5px;
  margin-bottom: 38px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .3);
  color: #3c3f55;
  font-size: 20px;
}

#upper-display {
  letter-spacing: -.1em;
  font-size: .75em;
  height: 1em;
  margin-bottom: 24px;
}

#lower-display {
  font-size: 1.5em;
  height: 1em;
  letter-spacing: -.15em;
}

#button-pad {
  display: flex;
  
  gap: 10px;
  width: 100%;
}

#button-pad > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: inherit;
  flex-wrap: wrap;
}

.button-column > button {
  height: 40px;
  flex-grow: 1;
  box-sizing: border-box;
  width: 40%;
  font-family: monospace;
  font-size: 24px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);

  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 50ms;
}

button.double-width {
  width: 100%;
}

.button-column > button:hover {
  border: 2px solid white;
}

.button-column > button:active {
  border: 2px solid white;
  scale: 95%;
}

.grey {
  background-color: #39354e;
  color: #f3ebeb;
}

.pale {
  background-color: #d8cfdd;
  color: #25283D;
}

.red {
  background-color: #ad3924;
  color: #f3ebeb;
}
