body {
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.calculator {
  display: inline-block;
  background-color: #44B097;
  width: 300px;
  padding: 24px;
  border-radius: 1vw;
}

.display {
  background-color: #AFF5BF;
  text-align: right;
  font-family: 'Scientific Calculator LCD', sans-serif;
  padding: 1.5vw;
  border-radius: .5vw;
  margin-bottom: 24px;
  color: #25283D;
  font-size: 20px;
}

#upper-display,
#lower-display {
  letter-spacing: -.1em;
}

#upper-display {
  font-size: .75em;
  height: 1em;
  margin-bottom: 10px;
}

#lower-display {
  font-size: 1.5em;
  height: 1em;
}

#button-pad {
  display: flex;
  
  gap: 10px;
  width: 100%;
}

#button-pad > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: inherit;
  flex-wrap: wrap;
}

.button-column > button {
  height: 40px;
  flex-grow: 1;
  box-sizing: border-box;
  width: 40%;
  font-family: monospace;
  font-size: 24px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);

  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 50ms;
}

button.double-width {
  width: 100%;
}

.button-column > button:hover {
  border: 2px solid white;
}

.button-column > button:active {
  border: 2px solid white;
  scale: 95%;
}

.grey {
  background-color: #39354e;
  color: #f3ebeb;
}

.pale {
  background-color: #d8cfdd;
}

.red {
  background-color: #ad3924;
  color: #f3ebeb;
}
